#root {
  text-align: center;
}

.chartContainer {
  width: 100%;
  display: inline-block;
}

.charts {
  width: 100%;
  height: 250px;
  margin-bottom: 70px;
}

.App {
  width: 80%;
  display: inline-block;
}

.header {
  font-size: 50px;
  text-align: center;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px #000000 dashed;
  background-color: #d3fff5;
  color: #000000;
  transition: border ease-in-out;
}

.dropzone:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px #000000 dashed;
  background-color: #90e7d4;
  color: #ffffff;
  transition: border ease-in-out;
}

p img {
  height: 1em;
  width: auto;
}