.App{
  text-align: center;
}

h1 {
  letter-spacing: -2px;
  border-bottom: 2px solid #b6b6b6;
  text-align: left;
  text-transform: uppercase;
}

h2:hover {
  color: #fd5420 !important;
  transition: all 0.4s ease 0s;
}

.chartContainer {
  width: 100%;
  display: inline-block;
}

.charts {
  width: 100%;
  height: 250px;
  margin-bottom: 70px;
}

.content {
  width: 60%;
  display: inline-block;
}

/* https://www.fabriziovanmarciano.com/button-styles/ */
button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  margin: 0px 5px 0px 5px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }
/* https://www.fabriziovanmarciano.com/button-styles/ */
button:hover {
  color: #ffffff !important;
  background: #fd5420;
  border-color: #fd5420 !important;
  transition: all 0.4s ease 0s;
}

button:disabled {
  color: #adadad !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #adadad !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }

  
.header {
  display: flex;
  display: inline-block;
  height:100%;
  flex-flow: column;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 50px;
  text-align: center;
  background: black;
  color: white;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px #000000 dashed;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 4px solid #494949 !important;
  transition: all 0.4s ease 0s;
  margin-bottom: 20px;
}

.dropzone:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px #000000 dashed;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff !important;
  background: #fd5420;
  border-color: #fd5420 !important;
  transition: all 0.4s ease 0s;
}

p img {
  height: 1em;
  width: auto;
}